//
// Labels
// --------------------------------------------------

.label {
  display: inline;
  padding: .1em .4em;
  font-size: 0.8em;
  font-weight: 500;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .5em;
  margin: .1em .1em 0 0;
  font-family: "Microsoft YaHei",STXihei,sans-serif;

  // Add hover effects, but only for links
  &[href] {
    &:hover,
    &:focus {
      color: @label-link-hover-color;
      text-decoration: none;
      cursor: pointer;
    }
  }

  // Empty labels collapse automatically (not available in IE8)
  &:empty {
    display: none;
  }
}

// Colors
// Contextual variations (linked labels get darker on :hover)

.label-default {
  .label-variant(@label-default-bg);
}

.label-primary {
  //.label-variant(@label-primary-bg);
  //.label-variant(lighten(hotpink,10%));
  .label-variant(lighten(#777,20%));
}

.label-success {
  .label-variant(@label-success-bg);
}

.label-info {
  .label-variant(@label-info-bg);
}

.label-warning {
  .label-variant(@label-warning-bg);
}

.label-danger {
  .label-variant(@label-danger-bg);
}
